
#login-register-section {
  position: fixed;
  display: none;
  
  width: 36rem;
  @media screen and (max-width: 400px) {
    width: 95vw;
    & label {
      font-size: 1.1rem;
    }
    & form {
      padding: .1em;
    }
  }

  height: 24em;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  border-radius: 6px;
  background-color: #ddd;
  border: 1px solid #999;
  padding: .3em;
  box-shadow: 8px 8px 20px 0px black;
  z-index: 2;

  .close-button {
    float: right;

    // &:hover {  
    //   cursor: not-allowed; 
    // }

    &:active {
      color: rgb(118, 0, 0);
    }

  }

  #login-register-form {
    padding: 5%;
  }

  h2 {
    border-bottom: 1px solid black;
    padding: 0px;
    margin: 0px;
  }

  form button {
    font-size: 92%;
    color: black;
    width: 6em;
    height: 2em;
    border-radius: 4px;
  }

  input {
    margin: 0 auto;
    width: 100%;
    padding: 0;
    height: 2.5em;
    font-size: 80%;

    &:disabled {
      background-color: grey; 
    }

  }

  tr {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: row;
    td {
      padding: 0;
      margin: 0.2rem;
      input {
        width: 100%;
      }
    }
    td.label {
      color: black;
      font-size: 1em;
      line-height: 2.5em;
      width: 20%;
      white-space: nowrap;
      text-align: right;
    }
    td.input {
      width: 80%;
      text-align: left;
    }
  }

  .errorText {
    display: inline;
    font-weight: bold;
  }
}
