article.tweet {
  border-radius: 6px;
  margin: 25px;
  background-color: #ddd;
  border: 1px solid #999;
  padding: 0;
  box-shadow: 8px 8px 20px 0px black;
}

article.tweet:hover {
  border: 1px solid rgb(35, 0, 160);
}

article.tweet header {
  margin: 0 auto;
  background-color: #eee;
  border-radius: 6px 6px 0 0;
  padding: 6px;
  overflow: hidden;
}

article.tweet img {
  margin: 0;
  float: left;
}

article.tweet h2 {
  margin: 0 0 0 4px;
  float: left;
}

article.tweet .handle {
  float: right;
}

article.tweet p {
  margin: 16px 2px;
  border-radius: 6px;
  padding: 6px;
  word-break: break-word;
}

article.tweet footer {
  margin: 0 auto;
  background-color: #eee;
  border-top: 1px solid #aaa; 
  border-radius: 0 0 6px 6px;
  padding: 6px;
  font-size: 65%;
}

article.tweet footer .age {
  display: inline-block;
}

article.tweet footer .footer-buttons {
  float: right;
  display: none;
}

article.tweet:hover footer .footer-buttons {
  display: initial;
}

article.tweet .flag:hover {
  color: rgb(255, 111, 0);
}

article.tweet .retweet:hover {
  color: rgb(0, 186, 0);
}

article.tweet .like:hover {
  color: rgb(232, 0, 69);
}
